{% extends 'web3auth/base.html' %}
{% block content %}
  {% if request.user.is_authenticated %}
    <h4>You're already logged in</h4>
  {% else %}
    <div class="row m-t-2">
      <button type="button" onclick="startLogin()">Login</button>
    </div>
  {% endif %}
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script>
    async function startLogin() {
      await promptLogin();
      var login_url = "{% url 'web3auth:web3auth_login_api' %}";
      await web3Login(login_url, console.log, console.log, console.log, console.log, console.log, function (resp) {
          window.location.replace(resp.redirect_url);
      });
    };
  </script>
{% endblock javascript %}
