{% extends 'web3auth/base.html' %}
{% block content %}
  {% if request.user.is_authenticated %}
    <h4>You're already logged in</h4>
  {% else %}
    <div class="row m-t-2">
      <button type="button" onclick="connectWallet()">Connect wallet</button>
    </div>
  {% endif %}
{% endblock content %}
{% block javascript %}
  <script type='text/javascript'>
    window.AUTH_ENDPOINT = "{% url 'web3auth:web3auth_api' %}";
  </script>
  {{ block.super }}
  <script type='module'>
    import {
      connectWallet
    } from '../static/web3auth/js/web3auth.js'
    window.connectWallet = connectWallet
  </script>
{% endblock javascript %}
